.nav{
    min-height: 50px;
    background-color: #5264ae;
    display: flex;
    justify-content: space-between;
}
.nav .nav-left-child{
    font-size: 15px;
    margin-left: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.nav .nav-right-child{
    line-height: 50px;
    color: white;
    margin-right: 50px;
    text-decoration: none;
}
.nav .nav-right-child::before{
    display: inline-block;
    content: "";
    width: 17px;
    height: 12px;
    background-image: url("https://ifh.cc/g/3TkYsC.jpg");
    background-size: 17px 12px;
}